---
// src/components/Navbar.astro
import '../styles/navbar.css'; // Asegúrate de crear este archivo CSS
---
<nav class="navbar">
    <div class="navbar-left">
        <a href="/" class="logo-container">
            <svg class="logo-wave" viewBox="0 0 100 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 10 C 25 0, 75 20, 100 10" stroke="currentColor" stroke-width="2"/>
            </svg>
            <div class="logo-text">AIRE <br/> DE MAR</div>
            <div class="boutique-studio">boutique studio</div>
        </a>
    </div>
    <div class="navbar-right">
        <ul class="nav-main-links">
            <li><a href="/estudio">ESTUDIO</a></li>
            <li class="has-submenu">
                <a href="/proyectos">PROYECTOS</a>
                <ul class="submenu">
                    <li><a href="/proyectos/argentina">ARGENTINA</a></li>
                    <li><a href="/proyectos/uruguay">URUGUAY</a></li>
                    <li><a href="/proyectos/otros">OTROS</a></li>
                </ul>
            </li>
            <li><a href="/contacto">CONTACTO</a></li>
        </ul>
    </div>
</nav>